<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nearest Service Providers</title>
  </head>
  <body>
    <h1>Nearest Service Providers</h1>
    <ul>
      {% for provider in nearest_providers %}
      <li>
        {{ provider.user.username }} - {{ provider.service_type }} - Location:
        -{{provider.phone_number}}
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'booking' %}">Proceed with Booking</a>
    <!-- Adjust URL as needed -->
  </body>
</html>
