<!-- myApp/templates/services.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- Optional CSS -->
  </head>
  <body>
    <h1>Our Services</h1>
    <ul>
      {% for service in services %}
      <li>
        <h2>{{ service.title }}</h2>
        <p>{{ service.description }}</p>
        <p>Price: ${{ service.price }}</p>
        <p>Created At: {{ service.created_at }}</p>
        <p>Updated At: {{ service.updated_at }}</p>
        <img
          src="{{ service.image }}"
          alt="{{ service.title }}"
          style="width: 200px"
        />
      </li>
      {% empty %}
      <li>No services available at the moment.</li>
      {% endfor %}
    </ul>
  </body>
</html>
